.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-flow: dense;
  gap: 24px 2em;
  justify-content: space-around;

  @include respond-to("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
}
