.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(300px, 100%));
  grid-auto-flow: dense;
  gap: 20px;
  justify-content: center;

  @include respond-to("desktop") {
    grid-template-columns: repeat(auto-fit, min(420px, 100%));
  }
}
