.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(300px, 100%));
  grid-auto-flow: dense;
  gap: 20px;
  justify-content: center;
  padding: 16px;

  .ListCard {
    grid-row: span 2;
  }
}
