.Home {
  display: grid;
  gap: 24px;
  padding: 24px 24px 0 24px;
  justify-items: center;
  max-width: 1440px;
  @include respond-to("desktop") {
    grid-template-columns: 1fr 4fr;
  }

  .Sidebar {
    display: none;
    width: 100%;
    @include respond-to("desktop") {
      display: block;
    }
  }
  
  .Grid {
    width: 100%;
  }
}