.Home {
  padding: 24px 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  
  .List {
    display: none;
    @include respond-to("desktop") {
      display: block;
      min-width: 250px;
    }
  }
}
