.ProductPage {
  /*Base*/
  display: grid;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  max-width: 1440px;
  padding: 1em;
  gap: 0.5em;

  @include respond-to("tablet") {
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    gap: 2em 2em;
    padding: 2em;
  }

  @include respond-to("desktop") {
    padding: 3em 8em;
    gap: 12px 4em;
  }

  /*Header*/
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.75em 1em;
    grid-column: 1/2;

    @include respond-to("tablet") {
      grid-column: 2/4;
    }
  }

  &__tag {
    @include respond-to("desktop") {
    }
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: crimson;

    svg {
      height: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    line-break: anywhere;
  }

  &__description {
    text-align: justify;
    font-size: 16px;
  }

  &__price {
    display: flex;
    flex-direction: column;

    &__value {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__controls {
    display: grid;
    align-items: start;
    gap: 0.5em;
  }

  &__addCart,
  &__addFavorite {
    @include respond-to("mobile") {
      grid-column: 2;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 4px;
    grid-row: span 2;
  }

  &__features {
    display: grid;
    row-gap: 2em;
    column-gap: 0.5em;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0;

    @include respond-to("tablet") {
      grid-column: 1/4;
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to("desktop") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
