.SignUp {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 16px;
  }

  &--email {
    background-color: $brandColor;
    color: white;
  }

  &--google {
    @apply bg-neutral-100;
  }

  &__link {
    align-self: center;
    padding: 4px 0;
    @apply text-blue-600;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &--facebook {
    background-color: #0d57c7;
    color: white;
  }

  &--apple {
    background-color: black;
    color: white;
  }
}
