.Button {
  display: flex;
  background: none;
  border: none;
  outline: none;
  transition: 0.2s;
  padding: 8px 12px;
  border-radius: 12px;
  height: fit-content;
  user-select: none;
  font-size: 10pt;
  font-weight: 400;
  align-items: center;
  color: #575757;

  &-icon {
    height: 20px;
    width: 20px;
  }

  &:hover {
    background-color: $control-background;
  }
}
