.FeatureItem {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  user-select: none;

  &__value {
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
  }

  &__label {
    text-align: center;
    font-size: 14px;
    color: dimgray;
    font-weight: 500;
  }
}
