.Navbar {
  background-color: #ffffff;
  padding: 8px 16px;
  box-shadow: 0px 1px 1px #f3f3f3;
  &__layout {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 40px auto;
    align-items: center;
    justify-items: center;
    gap: 14px 32px;
  }

  &__logo {
    display: block;
    width: 100px;
    height: 40px;
  }

  &__search {
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    justify-self: stretch;
    input {
      border: none;
      font-weight: 500;
      font-size: 14px;
      transition: 0.3s;
      outline: none;
      margin: 0;
      flex-grow: 1;
      caret-color: transparent;
      background-color: $control-background;
      padding: 8px 16px;
      border-radius: 8px;

      &::-webkit-input-placeholder {
        text-align: center;
        color: #7c7878;
        font-weight: 600;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
        color: #7c7878;
        font-weight: 600;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
        color: #7c7878;
        font-weight: 600;
      }

      &:-ms-input-placeholder {
        text-align: center;
        color: #7c7878;
        font-weight: 600;
      }

      &:focus {
        caret-color: auto;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    grid-column: 3;
    @apply gap-x-2;
  }

  @include respond-to("tablet") {
    padding: 8px 16px;
    &__layout {
      display: flex;
      justify-content: space-between;
      align-content: center;
      gap: 4em;
    }

    &__search {
      flex-basis: 500px;
      justify-content: center;
      input {
        max-width: 768px;
      }
    }

    &__logo {
      display: grid;
      justify-self: start;
    }
  }
}
