.ProductCard {
  display: grid;
  align-items: center;
  gap: 6px 0;
  padding: 16px;
  background-color: white;
  border-radius: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @include elevation;

  &__image {
    img {
      mix-blend-mode: multiply;
      border-radius: 16px;
    }
  }

  &__tag {
    grid-row: 2;
    height: 16px;
    font-size: 9pt;
    font-weight: 500;
  }

  &__name {
    grid-row: 3;
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(44, 44, 44);
  }

  &__price {
    grid-row: 4;
    font-size: 16px;
    font-weight: 700;
  }

  &__rating {
    grid-row: 5;
  }
}
