.ProductCard {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: $control-background;
  gap: 2px 0;

  &__image {
    grid-column: span 2;
    @apply rounded-xl;
    img {
      mix-blend-mode: multiply;
      @apply rounded-xl;
    }
  }

  &__tag {
    grid-column: span 2;
    height: 16px;
    @apply text-orange-600 text-xs mt-4;
  }

  &__title {
    grid-column: span 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
  }

  &__price {
    font-size: 14px;
    @apply mt-3 text-slate-600;
  }

  &__rating {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    .star {
      width: 16px;
      height: 16px;
      @apply text-yellow-400;
    }
  }

  /* Modifiers */
  &--minimal {
    padding: 12px;
    .ProductCard__title {
      font-size: 10pt;
    }
  }
}
