.Rating {
  display: flex;
  gap: 4px;

  &__stars {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2px;
    color: #ffc400;
  }

  svg {
    height: 14px;
    width: 14px;
  }
}
