.Showcase {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
  background-color: $control-background;
  padding: 16px;
  border-radius: 24px;

  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    .Button {
      grid-column: 2;
    }
  }
  &__layout {
    display: grid;
    gap: 16px;
    grid-row: 3;
    grid-template-columns: repeat(2, 1fr);

    .ProductCard {
      &--landscape {
        grid-column: span 2;
      }
    }
  }
}
