.Sidebar {
  display: none;
  overflow: auto;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 8px;
  background-color: #fff;
  /* @apply shadow shadow-neutral-100; */
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
