.Sidebar {
  display: none;
  overflow: auto;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  /* @apply shadow shadow-neutral-100; */
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
