.TextBox {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 4px;

  &__layout {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 12px;
    border-radius: 0.75em;
    min-width: 60px;

    input {
      flex-grow: 1;
      outline: none;
      background: none !important;
      min-width: 60px;
      &:-internal-autofill-selected {
        background-color: transparent !important;
      }
    }
  }
}
