@import "utilities/variables.scss";
@import "utilities/mixins.scss";
@import "utilities/function.scss";

@import "base/reset.scss";
@import "base/Typography.scss";

@import "vendors/tailwind.scss";

/* Components */
@import "components/Sidebar.scss";
@import "components/SidebarItem.scss";
@import "components/Button.scss";
@import "components/ListItem.scss";
@import "components/Card.scss";
@import "components/ProductCard.scss";
@import "components/Showcase.scss";
@import "components/Rating.scss";

/* Layout */
@import "layout/layout.scss";
@import "layout/navbar.scss";
@import "layout/sidebar.scss";
@import "layout/grid.scss";

/* Pages */
@import "pages/Home";
